<!DOCTYPE=html>
<html>
<head>
    <title>Team: <%= @member_name %></title>
</head>
<body>
    <h1><%= @member_name %></h1>
    <h2>Characteristics</h2>
    <ul>
        <li><% @characteristics[1] %></li>
        <li><% @characteristics[2] %></li>
        <li><% @characteristics[3] %></li>
    </ul>
</html>
